<div class="col-span-12 md:col-span-6" id="<%= dom_id food %>">
  <div class="card card-compact bg-base-100 shadow-2xl h-full">
    <div class="card-body">
      <p class="my-5 text-xl">
        <%= food.name %>
        <span class="badge badge-lg badge-accent badge-outline">
          <%= food.kind.name %>
        </span>
      </p>


      <h2 class="mt-2">
        <%= "¥ #{food.price}" %>
      </h2>
      <p>
        <%= food.memo %>
      </p>
      <div class="justify-end card-actions">
        <%= link_to 'Edit', edit_food_path(food), class: "btn btn-outline btn-primary" %>
      </div>
    </div>
  </div>
</div>
