<%= form_with(model: food, class: "contents") do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input input-bordered input-primary w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :kind_id %>
    <%= form.text_field :kind_id, class: "input input-bordered input-primary w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :price %>
    <%= form.number_field :price, class: "input input-bordered input-primary w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :memo %>
    <%= form.text_area :memo, rows: 4, class: "input input-bordered input-primary w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
