<%= turbo_frame_tag 'ransack_search', target: '_top' do %>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center mb-4">
      <h1 class="font-bold text-4xl">Foods</h1>
      <%= link_to '+ New food', new_food_path, class: "btn btn-outline btn-primary" %>
    </div>

    <%= search_form_for @q, url: foods_path do |f| %>
      <div class="grid grid-cols-6 gap-3">
        <div class="col-span-2">
          <%= f.search_field :name_cont, class: "input input-bordered input-primary w-full", placeholder: "食べ物" %>
        </div>
        <div class="col-span-2">
          <%= f.submit '検索', class: 'btn btn-outline btn-primary', data: { turbo_frame: 'ransack_search' } %>
        </div>
      </div>
    <% end %>
    <%= turbo_frame_tag :foods do %>
      <div id="foods" class="min-w-full">
        <div class="grid grid-cols-12 gap-4">
          <%= render @foods %>
        </div>
      </div>
    <% end %>
    <%= paginate @foods %>
  </div>
<% end %>
